<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 mp rescap">

  <Identity
    Name="DirectX12GameEngine.Editor"
    Publisher="CN=Amin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="f168590e-2003-47ab-9d82-4c4ae8414bc3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DirectX12GameEngine.Editor</DisplayName>
    <PublisherDisplayName>Amin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="DirectX12GameEngine.Editor.App">
      <uap:VisualElements
        DisplayName="DirectX12GameEngine.Editor"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="DirectX12GameEngine.Editor"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
        <Extensions>
          <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="microsoft.gameBarUIExtension" Id="DirectX12GameEngine" DisplayName="DirectX12GameEngine" Description="A DirectX 12 game engine" PublicFolder="Assets">
              <uap3:Properties>
                <GameBarWidget Type="Standard">
                  <HomeMenuVisible>true</HomeMenuVisible>
                  <PinningSupported>true</PinningSupported>
                  <Window>
                    <Size>
                      <Width>440</Width>
                      <Height>440</Height>
                      <MinWidth>440</MinWidth>
                      <MinHeight>48</MinHeight>
                      <MaxWidth>Infinity</MaxWidth>
                      <MaxHeight>Infinity</MaxHeight>
                    </Size>
                    <ResizeSupported>
                      <Horizontal>true</Horizontal>
                      <Vertical>true</Vertical>
                    </ResizeSupported>
                  </Window>
                </GameBarWidget>
              </uap3:Properties>
            </uap3:AppExtension>
          </uap3:Extension>
        </Extensions>
    </Application>
  </Applications>

  <Extensions>
    <!-- Enlighten COM on where to find Metadata Based Marshaling (MBM) data for the Game Bar private types 
       <Path> is a required element (by VS) and has to point to a binary in the package, but it's not used when the class id is
       00000355-0000-0000-C000-000000000046 (MBM). Due to that we just put the Microsoft.Gaming.XboxGameBar.winmd here. -->
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="00000355-0000-0000-C000-000000000046">
        <Path>Microsoft.Gaming.XboxGameBar.winmd</Path>
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetAuthHost" InterfaceId="DC263529-B12F-469E-BB35-B94069F5B15A" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetControlHost" InterfaceId="C309CAC7-8435-4082-8F37-784523747047" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarNavigationKeyCombo" InterfaceId="5EEA3DBF-09BB-42A5-B491-CF561E33C172" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetActivatedEventArgsPrivate" InterfaceId="782535A7-9407-4572-BFCB-316B4086F102" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost" InterfaceId="5D12BC93-212B-4B9F-9091-76B73BF56525" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate" InterfaceId="22ABA97F-FB0F-4439-9BDD-2C67B2D5AA8F" />
      </ProxyStub>
    </Extension>
  </Extensions>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>